# venvs
venv/
.env/
.venv/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# runtime
data/
graph_data/

# temp / work in progress
tsp/
toDo/

# work in progress
api/

# pkg / dist
build/
dist/
*.egg-info/
*.egg
*.whl
*.egg-link

# editor
.vscode/
.idea/

# os
.DS_Store

# data
*.csv
*.parquet
*.dill

# web docs
site/


